if BOARD_MIDGE_BADGE_V1

config HW_STACK_PROTECTION
	default ARCH_HAS_STACK_PROTECTION


config SENSOR
	default y if (MIDGE_SEL_IMU_ICM20948 || MIDGE_SEL_IMU_ICM42605) && !MIDGE_IMU_ICM20948_USE_CLOSED_DRIVER
	default n

endif
