# Enable MPU
CONFIG_ARM_MPU=y

# enable GPIO
CONFIG_GPIO=y

# Enable RTT
CONFIG_USE_SEGGER_RTT=y

CONFIG_CONSOLE=y
# disable uart driver
CONFIG_UART_CONSOLE=n

# enable console
CONFIG_RTT_CONSOLE=y

# 32kHz clock source
CONFIG_CLOCK_CONTROL_NRF_K32SRC_SYNTH=y
CONFIG_CLOCK_CONTROL_NRF_K32SRC_50PPM=y

# USE OF SPI0 with EasyDMA
#CONFIG_SOC_NRF52832_ALLOW_SPIM_DESPITE_PAN_58=y
#CONFIG_NRF52_ANOMALY_58_WORKAROUND=y
#CONFIG_NRF52_ANOMALY_109_WORKAROUND=n
